.bg-image-full {
  background: no-repeat center center scroll;
  background-size: cover;
}

.image-1 {
  background-image: url('images/11.jpg');
  height: 600px;padding-top:60px;
}

.image-2 {
  background-image: url('images/22.jpg');
  height: 600px;
}
.sec1,.sec2{padding-bottom:30px;padding-top:30px;background:linear-gradient(to top right, #032C27, #848593);}
.sec2{
	padding-bottom:60px
}
h1{
	color:#C0DCD8;font-family: 'Lobster', cursive;font-size:64px;text-shadow:gray 10px 10px 20px;
}
h1:hover{color:white;text-shadow:black 10px 10px 20px;}
.lead{
	font-size:  12px
}
.s1,.s2{
	margin:0px
}
.co1,.co2{
	margin-left: 60px;margin-right:60px;
}
.btn{
	margin-top:40px;margin-bottom:10px;font-family: 'Orbitron', sans-serif;
}
p{
	color:white;font-family: 'Orbitron', sans-serif;
}
