{% extends 'base.html' %}

{% block content %}



    <!-- Header - set the background image for the header in the line below -->
    <header class="bg-image-full image-1"></header>

    <!-- Content section -->
    <section class="sec1">
      <div class="container-fluid s1">
        <div class="row">
          <h1 class="col-5">Favorite Places</h1>
          <section class="col-5"></section>
          <a href="https://www.google.com/maps/place/Tokyo,+Japan/" class="btn btn-info col-1">map</a>
          <section class="col-1"></section>
        </div>
        <div class="co2">
            <p class="lead">Tokyo, Japan’s busy capital, mixes the ultramodern and the traditional, from neon-lit skyscrapers to historic temples. The opulent Meiji Shinto Shrine is known for its towering gate and surrounding woods. The Imperial Palace sits amid large public gardens. </p>
        </div>
      </div>
    </section>

    <!-- Image Section - set the background image for the header in the line below -->
    <section class="bg-image-full image-2"></section>

    <!-- Content section -->
    <section class="sec2">
      <div class="container-fluid s2">
        <div class="row">
          <h1 class="col-6">Places want to go</h1>
          <section class="col-4"></section>
          <a href="https://www.google.com/maps/place/Tokyo,+Japan/" class="btn btn-info col-1">map</a>
          <section class="col-1"></section>
        </div>
          <div class="co2">
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
          </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="bg-dark fixed-bottom">
      <div class="container-fluid">  
        <p class="text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
    </footer>

{% endblock %}